//border-radius

.border-radius-3 {
  border-radius: 3px !important;
}

.border-radius-5 {
  border-radius: 5px !important;
}

.border-radius-8 {
  border-radius: 8px !important;
}

.border-radius-10 {
  border-radius: 10px !important;
}

.border-radius-50 {
  border-radius: 50% !important;
}

//font color

.font-white {
  color: var(--font-color-white);
}

.font-black {
  color: var(--font-color-black);
}

.font-red {
  color: var(--font-color-red);
}

.font-gray {
  color: var(--font-color-gray);
}

// font-size
.fs-10 {
  font-size: 10px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-25 {
  font-size: 25px !important;
}

.fs-27 {
  font-size: 27px !important;
}

.fs-32 {
  font-size: 32px !important;
}

.fs-40 {
  font-size: 40px !important;
}

.fs-48 {
  font-size: 48px !important;
}

.fs-120 {
  font-size: 120px !important;
}

.cursor-pointer {
  cursor: pointer !important;
}
