:root {
  --font-color-black: #130601;
  --font-color-theme: #a37f71;
  --font-color-gray-opacity: #a1a1a1;
  --font-color-gray: #6d6d6d;
  --font-color-secondary-opacity: rgba(82, 77, 81, 0.75);
  --font-color-pink: #a78bfa;
  --font-color-green: #1caf4d;
  --font-color-dark-green: #1eff12;
  --new-add-btn-bg-color: #133a19;
  --font-color-gray: #9f9f9f;
  --font-color-white: #fff;
  --font-color-red: #ff2600;
  --font-color-red-light: #ff4043;
  --font-color-blue: #3596fd;
}
